@import './variables.scss';

html{
    font-size: 62.5%;
}

body{
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    background: $backgroundColor;
}

.wrapper{
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    // border: 2px solid tomato;
}

h1, h2, h3{
    font-family: 'Patua One', cursive;
}

a{
    text-decoration: none;
    color: $mainColor;
}

a:visited{
    color: tomato;
}

