@import './variables.scss';
@import './mixins.scss';

.generatedReps{
    text-align: center;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.repGroup{
    border: 2px solid $mainColor;
    animation: fade-in 1.5s forwards;
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
    h3{
        font-size: 3.5rem;
        @include iphonePlus{
            font-size: 3.3rem;
        }
        @include iphone678{
            font-size: 3.1rem;
        }
        @include iphone5{
            font-size: 3rem;
        }
    }

}

.repFlex{
    display: flex;
    justify-content: space-around;
    @include iphonePlus{
        flex-direction: column;
    }
}

.repImageContainer{
    width: 50%;
    @include iphonePlus{
    flex-direction: column;
    width: 100%;
    }
}

.repImageContainer img{
    width: 70%;
    object-fit: contain;
}

.repInfo{
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    @include iphonePlus{
        font-size: 2.7rem;
    }
    @include iphone678{
        font-size: 2.5rem;
    }
    @include iphone5{
        font-size: 2rem;
    }
}

.imageErrorMessage{
    font-size: 1.8rem;
    font-style: italic;
}

.email{
    color: $mainColor;
    display: block;
    @include iphonePlus{
        font-size: 2.4rem;
    }
    @include iphone678{
        font-size: 2rem;
    }
}

// animation courtesy animista.net

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
