@import 'setup';
@import 'baseStyles';
@import 'variables';
@import 'mixins.scss';
@import 'header.scss';
@import 'repTemplates';
@import 'footer';


// these are the styles for the main input field

.searchField{
    animation: slide-in-right 0.8s forwards;
}
.searchField form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.searchField input{
    width: 180px;
    height: 40px;
    padding: 20px;
    display: block;
    margin-bottom: 20px;
    text-align: center;
    font-size: 3rem;
}

.searchField button{
    width: 170px;
    height: 60px;
    font-size: 3rem;
    margin-bottom: 50px;
}

.searchField button:hover{
    background: $mainColor;
}

.postalError{
  font-size: 2.5rem;
  color: red;
  text-align: center;
}
// animation courtesy Animista.net

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

// loading animation courtesy loading.io

.lds-circle {
  display: inline-block;
  transform: translateZ(1px);
}
.lds-circle > div {
  display: inline-block;
  width: 51px;
  height: 51px;
  margin: 6px;
  border-radius: 50%;
  background: #fff;
  animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
@keyframes lds-circle {
  0%, 100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}
