@import 'setup';
@import 'baseStyles';
@import 'variables';
@import 'mixins.scss';
@import 'header.scss';
@import 'repTemplates';
@import 'footer';


// these are the styles for the main input field

.searchField{
    animation: slideInRight 0.8s forwards;
}
.searchField form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.searchField input{
    width: 180px;
    height: 40px;
    padding: 20px;
    display: block;
    margin-bottom: 20px;
    text-align: center;
    font-size: 3rem;
}

.searchField button{
    width: 190px;
    height: 80px;
    font-size: 3rem;
    margin-bottom: 50px;
}

.searchField button:hover{
    background: $mainColor;
}

.postalError{
  font-size: 2.5rem;
  color: red;
  text-align: center;
}
// animation courtesy Animista.net

@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideInRight {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
