@import './variables.scss';
@import './mixins.scss';


h1{
    color: $mainColor;
    font-size: 8.5rem;
    // animation: slide-in-left 1s forwards;
    @include iphonePlus{
      font-size: 5.6rem;
      margin-bottom: 50px;
    }
    @include iphone678{
      font-size: 5.1rem;
      padding: 0 5px;
      margin-bottom: 50px;
    }
    @include iphone5{
      font-size: 4.1rem;
    }
}

header{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    animation: slide-in-left 0.8s forwards;
    @include ipad{
      padding-top: 20px;
    }
    @include iphonePlus{
      padding-top: 20px;
    }
    @include iphone5{
      padding-top: 0;
    }
    h2{
        font-size: 3.9rem;
        width: 100%;
        @include iphonePlus{
          font-size: 2.7rem;
          margin-bottom: 30px;
        }
        @include iphone678{
          font-size: 2.5rem;
          margin-bottom: 60px;
        }
        @include iphone5{
          font-size: 2.5rem;
        }
    }
    p{
        font-size: 2.8rem;
        @include iphonePlus{
          font-size: 2.3rem;
        }
        @include iphone678{
          font-size: 2rem;
        }
         @include iphone5{
          font-size: 2rem;
        }
    }
}


// animation courtesy Animista.net

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
